
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Yapılacaklar Listesi</h2>
<p> <del>1 Profilim</del> </p>
<p><del> 2 Tüm başlıklarda paging sayfalama</del> </p>
<p><del> 3 mesajlarda session</del> </p>
<p><del> 4 oturum yönetiminin mimariye taşınması</del> </p>
<p> 5 token kullanımı</p>

<p>Başlıklarda arama kutucuğu</p>
<p>Yazar görselleri düzenlenecek</p>
<p>Grafikler</p>
<p>Vitrin teması</p>
<p>Gelen kutusunda arama</p>
<p>yetkilendirmeler</p>
<p>Hata sayfaları layouttan ayrılacak</p>
<p>sözlük ve vitrin ayrılacak</p>
<p>Proje canlıya taşınacak</p>
<p>alan adı alınacak</p>
<p>herhangi bir tablo rapolanacak</p>